@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.urbanist{
  font-family: var(--font-urbanist);
}

.container{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}